.CategoryPage {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  padding: clamp(1.5rem, 8vw, 2.5rem) clamp(2.5rem, 8.5vw, 5.5rem);
  gap: 20px;

  & h2 {
    font-size: 1.8rem;
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    font-weight: bold;
  }
}

.productList {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.productCard {
  width: 200px;
  height: 300px;
  background-color: var(--card-background);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  & h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--label-color);
    text-align: center;
    padding: 0.5rem;
  }
}
