.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 100vh;
  background: linear-gradient(
    135deg,
    var(--hero-gradient-start),
    var(--hero-gradient-end)
  );
  width: 100%;

  & h1 {
    font-size: 2.5rem;
    color: white;
  }

  & p {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    max-width: 600px;
  }
}

.buttons {
  display: flex;
  gap: 20px;
}
