.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135deg, #231d1d, #894c2e);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  & h1 {
    font-size: 2.5rem;
    color: white;
  }

  & p {
    font-size: 1.2rem;
    color: white;
    text-align: center;
    max-width: 600px;
  }
}

.buttons {
  display: flex;
  gap: 20px;
}
