.catagoryCard {
  padding: 10px 20px;
  background-color: #f0f0f0;
  color: #ff6347;
  border: 1px solid #747474;
  transition:
    background-color 0.25s ease,
    color 0.25s ease,
    border-color 0.25s ease;

  &:hover {
    background-color: #ff6347;
    color: white;
    border-color: #ff6347;
  }
}
